<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="none">
  <parameter name="browserType" value="chrome"></parameter>
  <test verbose="1" name="Testowanie" annotations="JDK" preserve-order="true">
  
  <groups>
      <run>
      <include name="chrome" />
      </run>
   </groups>
  
    <classes>
		<class name="tests.TestBase"/>
		<class name="tests.LoginTest"/>
		<class name="tests.CalendarTest"/>
		<class name="tests.ImportExportTest"/>
		<class name="tests.ReminderTest"/>
		<class name="tests.EventTest"/>

    </classes>
  </test>
</suite>
