<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="none">
  <parameter name="browserType" value="chrome"></parameter>
  <test verbose="1" name="Testowanie" annotations="JDK" preserve-order="true">
  
  <groups>
      <run>
      <include name="chrome" />
      </run>
   </groups>
  
    <classes>
		<class name="BaseTest"/>
		<class name="LoginTest"/>
		<class name="CalendarTest"/> 
		<class name="ImportExportTest"/>
		<class name="ReminderTest"/>
		<class name="EventTest"/>

    </classes>
  </test>
</suite>
